:root {
  --tileWidth: 150px;
  --tileHeight: 150px;
  --grid-gap: 12px;
  --image-extension: 95%;
  --tileMargin: 0px;

  --memtile-open-bg-color: green;
  --memtile-closed-bg-color: grey;

  /* max */
  --header-bg-color-max: pink;
  --header-height-max: 50px;
  --header-memtile-extension-max: 200px;
  /* 960 */
  --header-bg-color-960: red;
  --header-height-960: 72px;
  --header-memtile-extension-960: 120px;
  /* 640 */
  --header-bg-color-640: blueviolet;
  --header-height-640: 50px;
  --header-memtile-extension-640: 128px;
  /* 600 */
  --header-bg-color-600: blueviolet;
  --header-height-600: 72px;
  --header-memtile-extension-600: 120px;
  /* 360 */
  --header-bg-color-360: teal;
  --header-height-360: 108px;
  --header-memtile-extension-360: 90px;
  /* 320 */
  --header-bg-color-320: green;
  --header-height-320: 16px;
  --header-memtile-extension-320: 80px;
}
